.outline
  .card(onclick=true)
    .inner
      .front
        h1 Akshay Codes
      .back 
        img(src='https://avatars2.githubusercontent.com/u/38903662?s=460&v=4')
        h1 Akshay M
        p full-stack developer